body {
    font-family: Arial;
    background: #1f2933;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 260px;
    text-align: center;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}
